<div>
    <h1>Análisis de Complejidad del Merge Sort</h1>

    <img src="https://upload.wikimedia.org/wikipedia/commons/c/cc/Merge-sort-example-300px.gif" alt="merge-sort">

<h3>
    Análisis de Complejidad del Merge Sort
</h3>


<table class="table table-stripped">
    <thead>
      <tr>
        <th>Mejor Caso</th>
        <th>Caso Promedio</th>
        <th>Peor Caso</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>n log(n)</td>
        <td>n log(n)</td>
        <td>n log(n)</td>
      </tr>
  </table>

    <h2>Algoritmo de Ordenamiento Eficiente</h2>
    <p>Merge Sort es un algoritmo de ordenamiento eficiente que se basa en el enfoque "divide y conquista" para ordenar listas. A continuación, se presenta el análisis de su complejidad en términos de tiempo y espacio:</p>

    <h2>Complejidad de Tiempo:</h2>
    <p>El Merge Sort divide la lista en dos mitades, ordena cada mitad por separado y luego combina las dos mitades ordenadas en una sola lista ordenada. La complejidad de tiempo de Merge Sort es:</p>

    <ul>
        <li>En el peor caso: <strong>O(n log n)</strong></li>
        <li>En el mejor caso: <strong>O(n log n)</strong></li>
        <li>Caso promedio: <strong>O(n log n)</strong></li>
    </ul>

    <p>Este rendimiento uniforme en diferentes casos lo convierte en una excelente opción para ordenar grandes conjuntos de datos.</p>

    <h2>Complejidad de Espacio:</h2>
    <p>Merge Sort requiere espacio adicional para almacenar las sublistas temporales durante la operación de fusión. La complejidad de espacio de Merge Sort es <strong>O(n)</strong> debido a esta necesidad de espacio adicional.</p>

    <h2>Conclusiones:</h2>
    <p>En resumen, Merge Sort es un algoritmo de ordenamiento eficiente con una complejidad de tiempo de <strong>O(n log n)</strong> en todos los casos, lo que lo hace adecuado para aplicaciones en las que se necesita un rendimiento constante. Sin embargo, su complejidad de espacio de <strong>O(n)</strong> debe tenerse en cuenta al utilizarlo en sistemas con restricciones de memoria.</p>
</div>
