.toolbar-nav {
    text-align: right;
    padding-right: 2em;
    padding-top: 1em;

    a{
        text-decoration: none;
        padding: 0.5em;
        vertical-align: middle;
        color: #1d3557;
    }

    img{
        height: 2em;
        vertical-align: middle;
        margin-bottom: 0.5em;
    }
}