/* You can add global styles to this file, and also import other style files */
body{

font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
}
a{
    text-decoration: none !important;
}


.content-img{
    padding: 2em;
    width: 20em;
    
}
/* Importing Bootstrap SCSS file. */
@import 'bootstrap/scss/bootstrap';
